td, 
th{
    text-align:center;
    vertical-align: middle;
}


#global {
	height: 450px;
	width: 760px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
#mensajes {
	height: auto;
}
.texto {
	padding:4px;
	background:#fff;
}

.row > div{
	padding: 30px;
  }
  