{% extends "base.html" %}

{% block content %}

{% if messages %}
            {% for message in messages %}
               
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
        {%endif%}


<br>



<button  class="btn"  type="button" onclick="ocultar()" style=" border-radius:1.5rem;background-color: #ffc107; color: #fff; height: 3rem;" >
  <h1 style="margin-top:-6px; ">+</h1>
</button>
<br>
<br>
<div id="obj1">
  
  <form class="form-gropup" action="{% url 'crear_nota' %}" method="POST"> 
    {% csrf_token %}
    
    <div class="form-group">
      <input type="text" class="form-control" id="texttitulo" placeholder="Título" name="texttitulo">
    </div>
  
    <br>
    
    <div class="form-group">
      <textarea class="form-control" id="textcontenido" placeholder="Contenido" name="textcontenido"></textarea>
    </div>
    
    <br>
    <button type="submit" class="btn btn-primary">Guardar</button>

  </form>
</div>

<br>

<section class="main-section">
  
  {% for nota in notatias %}
  
  <div class="cards">
    <div class="card-header">
      
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid ">
              <div class="class content">
                {{ nota.titulo }} 
                
                <!-- 
                  hcerun boton para eliminar con el evnto "btnEliminacion_nota"
                -->

                <div class="left" >
                <a class="navbar-brand" href="eliminar_nota/{{ nota.id }}" id="btnEliminacion_nota">Eliminar</a>
                </div>
                
              </div>
            </div>
        </nav>

    </div>
    <div class="card-body">
      <p class="card-text">{{nota.contenido}}</p>    
    </div>
    
</div>

{% endfor %}

</section>
{% endblock %}