{% extends "base.html" %}

{% block content %}
<h2>aca deben estar las notitas </h2>

<div class="container">

    <div class="card">
        <div class="card-header">
          
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid ">
                  <div class="class content">
                    <input type="text" placeholder="Título">
                    <div class="left" >
                    <a class="navbar-brand" href="nota_delete/{{ nota.id }}">Crear</a>
                    </div>
                    
                  </div>
                </div>
            </nav>
    
        </div>
        <div class="card-body">
        <textarea name="textarea" id="" cols="30" rows="5"></textarea>
        </div>
    </div>


<br>

{% for nota in notatias %}
<div class="card">
    <div class="card-header">
      
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid ">
              <div class="class content">
                {{ nota.titulo }} 
                <div class="left" >
                <a class="navbar-brand" href="nota_delete/{{ nota.id }}">Eliminar</a>
                </div>
                
              </div>
            </div>
        </nav>

    </div>
    <div class="card-body">
      <p class="card-text">{{nota.contenido}}</p>    </div>
</div>

<br>

{% endfor %}

</div>

{% endblock %}